@import "tailwindcss";
@layer utilities {
  .neon-glow {
    text-shadow: 0 0 10px rgba(255, 59, 59, 0.8), 0 0 20px rgba(59, 130, 246, 0.6);
  }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.5;
  }
}

.animate-flicker {
  animation: flicker 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-pulse {
  animation: pulse 0.5s infinite;
}
